@tailwind base;
@tailwind components;
@tailwind utilities;

body{
font-family: 'Montserrat', sans-serif;
}

.bg-image-dark {
 background-image: url("/images/darkSky.jpg");
}

.bg-image {
  background-image: url("/images/beach.jpg");
}

.w-100 { width: 30rem; }
.text-2xs { font-size: 10px !important; }


.pulse2{
animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
